/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
    font-family: 'iconfont';
    /* Project id 4475318 */
    src: url('//at.alicdn.com/t/c/font_4475318_4i5awm6nzwe.woff2?t=1710992004205') format('woff2'),
        url('//at.alicdn.com/t/c/font_4475318_4i5awm6nzwe.woff?t=1710992004205') format('woff'),
        url('//at.alicdn.com/t/c/font_4475318_4i5awm6nzwe.ttf?t=1710992004205') format('truetype');
}

[class^='icon-'],
[class*=' icon-'] {
    font-family: 'iconfont' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-heart-ed:before {
    content: '\e61c';
}

.icon-heart:before {
    content: '\e608';
}

.icon-clock:before {
    content: '\e6fb';
}

.icon-scan:before {
    content: '\e6aa';
}

.icon-search:before {
    content: '\e60f';
}

.icon-phone:before {
    content: '\e61b';
}

.icon-cancel:before {
    content: '\e689';
}

.icon-right:before {
    content: '\e600';
}